{% extends 'base.html' %}
{% load static %}

{% block title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block meta_title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block description %}Ali Yaman Kişisel blog hakkında kişisel rastgele yazılar bulunmaktadır.{% endblock %}
{% block keywords %}kişisel blog,yazılımcının günlüğü,kişisel yazılar,kişisel,blog,portal,kişisel portal{% endblock %}
<!-- SEO -->
{% block og_title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block og_description %}Ali Yaman Kişisel blog hakkında kişisel rastgele yazılar bulunmaktadır.{% endblock %}
{% block og_url %}{{request.get_raw_uri}}{% endblock %}
{% block og_site_name %}Ali Yaman - Kişisel Blog{% endblock %}

{% block content %}
    <!-- +++++ Contact Section +++++ -->

	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
                                <img src="{% static 'img/iletisim.jpg' %}" alt="İletişim">

				<h3>Merhaba!</h3>
				<hr>
                <p>Aşşağıdaki email adresinden bizimle iletişime geçebilirsiniz.</p>
                Email : <a href="mailto:info@python.tc">aliymn.db@gmail.com</a><br>
                <hr>
                <br>
                Genelde günlük e-postlarımı kontrol ediyorum, kısa zamanda <br>dönüş yapacağımdan emin olabilirsiniz.

			</div>
		</div>

	</div><!-- /container -->
{% endblock %}

{% block last_content %}

{% for last_post in last_content %}

<a href="/{{ last_post.url }}"><i class="fa fa-share" aria-hidden="true"></i> {{ last_post.title }}</a><br/>

{% endfor %}

{% endblock %}
