{% extends 'base.html' %}
{% load static %}
<!-- SEO -->

{% block title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block meta_title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block description %}Ali Yaman Kişisel blog hakkında kişisel rastgele yazılar bulunmaktadır.{% endblock %}
{% block keywords %}kişisel blog,yazılımcının günlüğü,kişisel yazılar,kişisel,blog,portal,kişisel portal{% endblock %}
<!-- SEO -->
{% block og_title %}Ali Yaman - Kişisel Blog{% endblock %}
{% block og_description %}Ali Yaman Kişisel blog hakkında kişisel rastgele yazılar bulunmaktadır.{% endblock %}
{% block og_url %}{{request.get_raw_uri}}{% endblock %}
{% block og_site_name %}Ali Yaman - Kişisel Blog{% endblock %}


{% block content %}


	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{%  static 'img/user.png' %}" alt="Stanley">
					<h3>Merhaba! </h3>
                    <p>Herzaman bilginin gücüne inanlardan oldum , araştirmalarım ve deneyimlerimlerimi sizlere sunmayı amaçlıyorum.
                    İstanbul Üniversitesi Kontrol ve Otomasyon Öğrencisiyim Elektronik ve Programlama ile ilgim var.
                    İlgi alanımlarla ilgili deneyimleri size sunmayı amaçlıyorum.
                    </p>


				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt centered">
        <center><h3>Rastgele Yazılar</h3></center>
            {% for post in post_obj %}
			<div class="col-lg-4">
				<a class="zoom green" href="/{{ post.url }}"><img  width="500px" height="200px"  src="http://127.0.0.1:8000/media/{{ post.image }}" alt="{{ post.title }}" /></a>
				<p>{{ post.title }}</p>
			</div>
            {% endfor %}
		</div><!-- /row -->
	</div><!-- /container -->


{% endblock %}

{% block last_content %}

{% for last_post in last_content %}

<a href="/{{ last_post.url }}"><i class="fa fa-share" aria-hidden="true"></i> {{ last_post.title }}</a><br/>

{% endfor %}

{% endblock %}
